body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f5f1ea;
}

.header {
    background: #6b3e26;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header h1 {
        margin: 0;
    }

.user-section {
    font-size: 16px;
}

.logout-btn {
    margin-left: 15px;
    padding: 8px 15px;
    border: none;
    background: white;
    color: #6b3e26;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-container {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

    .card h2 {
        color: #6b3e26;
    }

    .card p {
        color: #666;
    }

.card-btn {
    background: #8b5e3c;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

    .card-btn:hover {
        background: #6b3e26;
    }
